{% extends 'base.html' %}
{% block title %}Wishlist{% endblock %}
{% block content %}
    <section>
        <h1>My Wishlist</h1>
        {% if games %}
            <ul class="game-list">
                {% for game in games %}
                    <li>
                        {% if game.cover_image %}
                            <img src="{{ game.cover_image.url }}" alt="{{ game.title }}">
                        {% else %}
                            <p>No Image</p>
                        {% endif %}
                        <h3><a href="{% url 'game_detail' game.id %}">{{ game.title }}</a></h3>
                        <p class="price">${{ game.price }}</p>
                        <p class="genres">
                            {% for genre in game.genres.all %}
                                <span>{{ genre.name }}</span>
                            {% endfor %}
                        </p>
                        <p>by {{ game.developer.username }}</p>
                        <div class="actions">
                            <a href="{% url 'game_detail' game.id %}">View</a>
                            <button type="button" onclick="toggleWishlist(this, {{ game.id }})">Remove from Wishlist</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your wishlist is empty. <a href="{% url 'catalog' %}">Add games to your wishlist</a></p>
        {% endif %}
    </section>
{% endblock %}
